@font-face {
    font-family: sahel;
    src: url("assets/fonts/sahel/Sahel-Black.eot");
    src: url("assets/fonts/sahel/Sahel-Black.woff") format("woff"),
        url("assets/fonts/sahel/Sahel-Black.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: estedad;
    src: url("assets/fonts/estedad/Estedad-Thin.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: estedad;
    src: url("assets/fonts/estedad/Estedad-Bold.woff2") format("woff2");
    font-weight: bold;
}

body {
    font-size: var(--wp--preset--font-size--small);
    font-family: 'estedad', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    font-family: 'estedad', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sahel;
    font-weight: bold;
}

.rtl {
    direction: rtl;
}

.entry-content,
.wp-block-button .wp-block-button__link{
	font-family: estedad;
}

header{
    font-weight: bold;
    font-family: estedad;
}